.list-group {
    margin-top: 93px;
    margin-left: 83px
}

.verMas {
    color: white;
    text-decoration: none;
}

.card,
.list-group {
    box-shadow: 10px 10px 31px 3px rgba(0, 0, 0, 0.75);
}

#carrito {
    width: 22px;
}

etiqueta-compform {
    width: 100%
}

.titulo {
    font-size: 1.5em;
    color: cyan;
}

.eslogan {
    font-size: 1em;
}

.imagenesHeader {
    width: 29px;
    height: 29px;
}

#maquinaHeader {
    width: 18em;
}

.navbar-brand {
    padding-top: 0;
}

.list-group-item.active {
    border-color: #343a40!important;
    background-color: #343a40!important;
}

.infoCabecera {
    max-width: 27%;
    float: left;
}

.row {
    margin: 0;
}

.btn-sm {
    width: 100%;
}

[class*="col-"] {
    padding: 0;
}

.infoCabecera span {
    font-size: 1.1em;
}